html {
    height: 10px;

    background-image: url(https://i.pinimg.com/236x/ac/c9/78/acc9789df873f99c00a4c07d46c398c7.jpg); 
}
body{
    background-color: #ff7f50;
    margin: 100px;
    padding: 50;
    background: linear-gradient(#0590ec, #b4b709);

    margin: 5px;
    background:#fa06d1;
    border-radius: 15px 0px;
    box-shadow: 5px 5px 15px -5px #e20808;

    

}
.container b{
    margin: 50px auto;
    width: 400px;
    padding: 30px;
    background: rgba(0, 0, 0,.5);
    border-radius: 10px;
    
}

body{
    background-color:#0590ec;
    margin-bottom: 5% auto;
}

h2{
    color: #f5e502;
    font-size: 80px;   
    margin-top: auto;
    color: #b4b709;
    max-width: 400px;
}
