body{
    height: 100px;
    background-image: url(https://i.pinimg.com/236x/c4/a3/6b/c4a36bfda0f98f862a8117b3fdf90cf2.jpg); 
}
.ex1 b{
    margin: auto;
    background-color: #1808ff);
    width: 60;
    
}
form{
    width: 350px;
    height: 150px;
    display: table;
    text-align: center;
    background-color: #c7fc07fb;
    width: 400;
}

.H1{
   color: #1808ff;

}