html{
    background-color: blue;
    min-height: 1000px;
    font-family: "helvetica neue";
    background: url(), 
    linear-gradient(to left rgb(255, 60, 0), rgb(206, 250, 13));
}
h1{
    color: aliceblue;
    padding: 10px;
}
.contenedor{
    max-width: 400px;
    margin: 50px auto;
    background: rgb(228, 0, 178);
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgb(179, 226, 8);
}
.elemento{
    min-height: 70%;
    display:flex;
    align-items: center;
    border-bottom: 1px solid rgb(197, 197, 197);
}