body{
    height: 100px;
    background: url(OIP.jpg);
    justify-content: center;
    align-items: center;
}
.ex1 b{
    margin: auto;
    background-color: (#1808ff);
    width: 60;
}
form{
    margin: 90;
    background-color: rgb(226, 43, 211);
    width: 300px;
}

.h1{
    margin:50px;
    background-color: rgb(226, 43, 211);
    width: 70;

}

.h4{
    margin-top: 30px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border: none;
    height: 20px;
    background-color: #f512cf;
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
    color:rgb(4, 132, 243);
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration:dotted;

}

.h6{
    margin-top: 30px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border: none;
    height:20px;
    background-color: rgb(255, 0, 234);
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
    color:#51ff00;
    width: 70;

}